.h1{
     text-align:center;
     font-size:50px;
}
li a {
  display: block;
  float:left;
  padding: 15px ;
  border-color:pink;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 150px;
  
 
}
body{
  background-image:url("https://i.ytimg.com/vi/qtlhdIfojmc/maxresdefault.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

li a:hover {
  background-color: pink;
  color: white;
  width:120px;
  border-top-style:solid;
  border-color:#002366;
  border-width:10px;
  border-radius:5px;
}
.whole_area
{
	width:100%;
	
}
.top
{
    background:#F5A9D0;
    height:80px;
	
}

.r_side
{
   
    display: block;	
    background:#F6CEEC;
    height:75px;
    width:1800px;
}

.text
{
   
}